/* Universal */
* {
    font-size: 100%;
}


/* body  */
body{
    margin: 0;
    background-image: linear-gradient(#c5c3c7 0%, #EEEDE7 60%);
}


/* header */
header {
    padding: 20px;
    background-color: #9da0a1;
    border-bottom: 3px solid #787a7a;

}

h1 {
    color: aliceblue;
    font-size: 200%;

}

.navbar{
    text-align: right;
}

.navbar > li {
    font-size: 80%;
    display: inline;
}

.navbar li > a{
    color: aliceblue;
    text-decoration: none;
}

/* webpages separated */

.Webpage {
    min-height: 100vh;
}


/* About me section  */
#aboutme {
    margin:5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.mybio{
   width: 50%;
}

.mybio > h2{
    margin-top: 20%;
}

.mybio > h2,
.mybio > p {
    display: block;
    text-align: center;
    margin: 1%;
}

.avatar {
    margin: 1% 5%;
    width: 30%;
    height: 30%;
    float:left;
}

/* work section  */

#work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#standout {
    flex: 1.4 0;
    width: 50%;
}

.heading {
    padding: 20px;
    width: 30%;
    height: 40vh;
    border-right: 2px solid black;
}

.project {
    text-align: center;
    margin: 1%;
    border: 1px solid black;
    box-sizing: border-box;
    width: 30%;
}

.project > h3{
    margin: 0;
    padding: 20px;
    background-color: #E7D2CC;
    color: aliceblue;
    font-weight: bolder;
}

.project a > img {
    width: 100%;
    margin: 0%;
}

.repolink { 
    text-align: center;
    background-color:#d1b9b2 ;
    display: block;
    color: rgb(185, 111, 192);
    text-decoration: none;

}


/* footer */

footer{
    background-color: #787a7a;
    border-top:3px solid #303131; ;
}

#contactme h2 {
    color: #9da0a1;
    text-align: center;
}

.info {
    display: flex;
    justify-content: space-evenly;
}

.info > li {
    display: inline;
}

.info li > a {

    color: antiquewhite;
    text-decoration: none;
    font-size: 90%;
}

/* Responsive Design */

@media screen and (max-width:992px) {
    #aboutme {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .avatar {
        order: 1;
        width: 100%;
    }
    .mybio{
        order: 2;
        width: 100%;
    }
    .project{
        width: 45%;
    }

    .heading{
        width: 40%;
    }
    
}

@media screen and (max-width:768px) {
    h1 {
       text-align: center;
    }

    .navbar > li{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .heading {
        font-size: larger;
        text-align: center;
    }
   
    .project{
        width: 90%;
    }
    
    .heading{
        width: 90%;
    }

   
}
